.hidden {
  display: none;
}

.navbar {
  padding: 0.2rem 0;
}

.container-fluid {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.filters {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

label {
  margin-bottom: 0;
}

#state {
  padding: 0 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  height: 1.5rem;
  max-width: 15rem;
}

#activity {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 9rem;
  height: 1.5rem;
}

.row-end {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-height {
  line-height: 1.5rem;
}

.margin-top-1rem {
  margin-top: 1rem;
}

.margin-right-halfrem {
  margin-right: 0.5rem;
}

.home-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  inset: 0;
  z-index: 2;
}

.quote-container {
  position: relative;
  width: 100%;
}

.quote {
  margin-top: 3rem;
  padding: 0 1rem;
  flex-basis: 10%;
  text-align: center;
  position: absolute;
  width: 100%;
}

.explore {
  margin-top: 20rem;
  padding: 0 1rem;
  flex-basis: 10%;
  text-align: center;
}

.loading-button,
.explore-button {
  flex-basis: 10%;
  padding: 1rem;
  align-self: center;
}

.explore-button {
  width: 10rem;
}

.loader {
  vertical-align: top;
}

.loading-button, {
  width: 20rem;
}

.progress-dots-container {
  flex-basis: 55%;
  display: flex;
  align-items: flex-end;
}

.fa-circle {
  margin: 0 0.2rem;
}

.park {
  margin-left: 2rem;
  flex-basis: 15%;
  display: flex;
  align-self: flex-start;
  align-items: flex-end;
  font-size: small;
}

.hero-image-wrapper {
  position: relative;
  height: calc(100vh - 49.38px);
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: black;
  opacity: 50%;
}

.hero-image-wrapper img {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  object-position: center;
}

.gallery-container {
  /* change gallery container to flexbox if image loading causes images to shift around */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.gallery-container img {
  width: 49%;
  height: auto;
  max-height: 10rem;
  overflow-y: hidden;
  margin-bottom: 0.2rem;
  margin-right: 0.1rem;
  object-fit: cover;
}

.park-detail-img-container {
  column-count: 2;
  column-gap: 0.1rem;
}

.park-detail-img-container img {
  width: 100%;
  margin-bottom: 0.2rem;
  object-fit: cover;
}

.park-desc {
  max-width: 550px;
}

.park-activities {
  max-width: 550px;
}

.desktop-heart {
  display: none;
}

@media screen and (min-width: 576px) {
  .container-fluid {
    margin: 0 auto;
    padding: 0 2rem;
  }

  .row-end {
    display: flex;
    justify-content: right;
  }

  .row-center {
    display: flex;
    justify-content: left;
  }

  .explore {
    margin-top: 15rem;
  }

  .gallery-container img {
    width: 32.9%;
  }

  .park-detail-img-container {
    column-count: 3;
    column-gap: 0.1rem;
  }

  #state {
    width: 6rem;
    height: 2.5rem;
  }

  #activity {
    width: 12rem;
    height: 2.5rem;
  }

  .mobile-heart {
    display: none;
  }

  .desktop-heart {
    display: inline;
  }
}

.park-header {
  line-height: 3rem;
}

@media screen and (min-width: 768px) {
  #state {
    width: 8rem;
    height: 3rem;
  }

  #activity {
    width: 17rem;
    height: 3rem;
  }
}

@media screen and (min-width: 992px) {
  #activity {
    width: 19rem;
    height: 3rem;
  }

  .gallery-container img {
    width: 24.8%;
  }

  .park-detail-img-container {
    column-count: 4;
    column-gap: 0.1rem;
  }

  .filters {
    padding: 0 4rem;
  }

  .row-center {
    margin-left: -2rem;
  }

  .row-end {
    justify-content: center;
  }
}

.loading {
  line-height: 3rem;
  margin-right: 1rem;
  font-size: 1.5rem;
}
