.hidden {
  display: none;
}

.container-fluid {
  max-width: 1000px;
  margin: 0 auto;
}

.filters {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

label {
  margin-bottom: 0;
}

#state {
  padding: 0 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  height: 1.5rem;
  max-width: 15rem;
}

#activity {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 9rem;
  height: 1.5rem;
}

.row-end {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-top-1rem {
  margin-top: 1rem;
}

.margin-right-halfrem {
  margin-right: 0.5rem;
}

.gallery-container {
  /* changed from column count to flex container so images load without flicker,
  if switching back in the future need to set column count and column gap */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery-container img {
  width: 49.9%;
  height: auto;
  margin-bottom: 0.2rem;
  object-fit: cover;
}

@media screen and (min-width: 576px) {
  .row-end {
    display: flex;
    justify-content: right;
  }

  .row-center {
    display: flex;
    justify-content: left;
  }

  .gallery-container img {
    /* changed from column count to flex container */
    width: 32.9%;
  }

  #state {
    width: 6rem;
    height: 2.5rem;
  }

  #activity {
    width: 12rem;
    height: 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  #state {
    width: 8rem;
    height: 3rem;
  }

  #activity {
    width: 17rem;
    height: 3rem;
  }
}

@media screen and (min-width: 992px) {
  #activity {
    width: 19rem;
    height: 3rem;
  }

  .gallery-container img {
    /* changed from column count to flex container */
    width: 24.9%;
  }

  .filters {
    padding: 0 4rem;
  }

  .row-center {
    margin-left: -2rem;
  }

  .row-end {
    justify-content: center;
  }
}

.loading {
  line-height: 3rem;
  margin-right: 1rem;
  font-size: 1.5rem;
}
