.hidden {
  display: none;
}

.navbar {
  padding: 0.5rem 0;
}

.container-fluid {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 1rem;
}

.filters {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

label {
  margin-bottom: 0;
}

#state {
  padding: 0 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  height: 1.5rem;
  max-width: 15rem;
}

#activity {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 9rem;
  height: 1.5rem;
}

.row-end {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-height {
  line-height: 1.5rem;
}

.margin-top-1rem {
  margin-top: 1rem;
}

.margin-right-halfrem {
  margin-right: 0.5rem;
}

.gallery-container {
  /* changed from column count to flex container so images load without flicker,
  if switching back in the future need to set column count and column gap */
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  /* justify-content: space-evenly; */
}

.gallery-container img {
  width: 49%;
  height: auto;
  margin-bottom: 0.2rem;
  margin-right: 0.1rem;
  object-fit: cover;
}

.park-detail-img-container {
  column-count: 2;
  column-gap: 0.1rem;
}

.park-detail-img-container img {
  width: 100%;
  margin-bottom: 0.2rem;
  object-fit: cover;
}

.saved-card img {
  width: 100%;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
}

.park-desc {
  max-width: 550px;
}

.park-activities {
  max-width: 550px;
}

.desktop-heart {
  display: none;
}

@media screen and (min-width: 576px) {
  .container-fluid {
    /* max-width: 1000px; */
    margin: 0 auto;
    padding: 0 2rem;
  }

  .row-end {
    display: flex;
    justify-content: right;
  }

  .row-center {
    display: flex;
    justify-content: left;
  }

  .gallery-container img {
    /* changed from column count to flex container */
    width: 32.9%;
  }

  .park-detail-img-container {
    column-count: 3;
    column-gap: 0.1rem;
  }

  #state {
    width: 6rem;
    height: 2.5rem;
  }

  #activity {
    width: 12rem;
    height: 2.5rem;
  }

  .mobile-heart {
    display: none;
  }

  .desktop-heart {
    display: inline;
  }
}

@media screen and (min-width: 768px) {
  #state {
    width: 8rem;
    height: 3rem;
  }

  #activity {
    width: 17rem;
    height: 3rem;
  }
}

@media screen and (min-width: 992px) {
  #activity {
    width: 19rem;
    height: 3rem;
  }

  .gallery-container img {
    /* changed from column count to flex container */
    width: 24.8%;
  }

  .park-detail-img-container {
    column-count: 4;
    column-gap: 0.1rem;
  }

  .filters {
    padding: 0 4rem;
  }

  .row-center {
    margin-left: -2rem;
  }

  .row-end {
    justify-content: center;
  }
}

.loading {
  line-height: 3rem;
  margin-right: 1rem;
  font-size: 1.5rem;
}
