#state {
  border-radius: 2rem;
  border: none;
  max-width: 10rem;
  appearance: none;
  background-color: #a5cbc3;
  font-size: 1rem;
}

#activity {
  border-radius: 2rem;
  border: none;
  appearance: none;
  background-color: #a5cbc3;
  font-size: 0.9rem;
}

label {
  font-size: 0.9rem;
  color: #100b00;
}

#state:hover {
  cursor: pointer;
  border: 1px solid #100b00;
  box-shadow: 0 1rem 1em -1rem;
}

#state:active {
  font-size: 1rem;
}

#activity:hover {
  cursor: pointer;
  border: 1px solid #100b00;
  box-shadow: 0 1rem 1em -1rem;
}

#activity:active {
  font-size: 1rem;
}

.go-back,
.go-back-saved-parks {
  color: gray;
}

.go-back:hover,
.go-back-saved-parks:hover {
  cursor: pointer;
  color: black;
}

.fa-heart {
  color: #85cb33;
}

.fa-heart:hover {
  cursor: pointer;
  font-size: 1.7rem;
}

.fa-rectangle-list {
  cursor: pointer;
}

.home-content-container {
  color: white;
  font-family: "Proza Libre", sans-serif;
}

.explore-button {
  background-color: black;
  color: white;
  letter-spacing: 1px;
  border: 3px solid white;
  font-size: 1rem;
}

.explore-button:hover {
  cursor: pointer;
  background-color: black;
  color: gray;
  border: 3px solid gray;
}

.quote {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.active.quote {
  opacity: 1;
}

.item {
  opacity: 0;
  transition: all 3s ease-in-out;
}

.active.item {
  opacity: 1;
}

.fa-circle:hover {
  cursor: pointer;
  font-size: large;
}

.fa-regular:hover {
  color: #85cb33;
}

.fa-regular:active {
  color: white;
}

.gallery-container img,
.park-detail-img-container img {
  border-radius: 1rem;
}

.saved-card {
  border-radius: 1.1rem;
  border: 1px solid gray;
  margin: 0.5rem auto;
  max-width: 20rem;
  position: relative;
}

.saved-card img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  object-position: 0 20%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.saved-card:hover {
  cursor: pointer;
  border: 1px solid black;
  box-shadow: 1px 6px 4px -4px gray;
}

.saved-heart {
  position: absolute;
  color: #efffc8;
  opacity: 1;
  z-index: 1;
  top: 1rem;
  right: 1rem;
}

.gallery-container img:hover {
  cursor: pointer;
  border: 1px solid gray;
}

.background-dark {
  background-color: #100b00;
}

.dark-text {
  color: #100b00;
}

.navbar-nav {
  font-size: large;
}

.logo-green {
  color: #85cb33;
}

.green-text {
  color: #efffc8;
}

.proza-bold {
  font-family: "Proza Libre", sans-serif;
  font-weight: bold;
}

.proza-normal {
  font-family: "Proza Libre", sans-serif;
  font-weight: normal;
}

.lilita {
  font-family: "Lilita One", sans-serif;
  letter-spacing: 0.1rem;
}

.park-header:link,
.park-header:visited {
  color: #100b00;
}

.park-header:hover {
  color: gray;
}

.park-desc {
  font-size: 0.8rem;
}

.park-activities {
  font-size: 0.6rem;
}

.font-bold {
  font-weight: bold;
}

@media screen and (min-width: 576px) {
  #state {
    font-size: 1.1rem;
  }

  #activity {
    font-size: 1rem;
  }

  label {
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  #state {
    font-size: 1.5rem;
  }

  #activity {
    font-size: 1.4rem;
  }

  label {
    font-size: 1.2rem;
  }
}

.spinner {
  border: 0.5rem solid #f3f3f3;
  border-top: 0.6rem solid #3498db;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.desktop-heart {
  margin-left: 1rem;
  font-size: 1.5rem;
}
